@import url(./fontes.css);

@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);

@import url(./elementos/no-script.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./componentes/card-link-arquivo.css);
@import url(./componentes/imagem-grupo.css);
@import url(./componentes/codigos.css);
@import url(./componentes/paragrafos.css);

html{
  scroll-behavior: smooth;
}

*{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
  /* background: var(--branco); */
  /* color: var(--cinza-escuro); */
}

.none{
  display: none;
}

.block{
  display: block;
}

.tooltip-href-link{
  --bs-tooltip-bg: var(--azul);
  --bs-tooltip-color: var(--branco);
  --bs-tooltip-opacity: 1;
  --bs-tooltip-margin: 1rem;
}
abbr{
  cursor: help;
}