@import url(./fontes.css);

@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);

@import url(./elementos/no-script.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./componentes/card-link-arquivo.css);

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: var(--branco);
  color: var(--cinza-escuro);
}

.none{
  display: none;
}

.block{
  display: block;
}