.imagem-grupo{
  margin: var(--margin-componentes-layout);
  display: inline-block;
}

.imagem-grupo .imagem{
  display: inline-block;
  /* margin-bottom: 0.625rem; */
  border-radius: 5px;
  background-color: var(--cinza-claro);
  /* Exemplo */
  width: min(100% - 0.01rem, 600px);
  height: 300px;
}

.imagem-grupo .descricao{
  display: block;
  width: min(100% - 0.01rem, 600px);
}

.imagem-grupo .descricao .descricao-contador-imagem{
  color: var(--cinza);
}

.imagem-grupo .descricao .descricao-contador-imagem::before{
  content: "Imagem";
  margin-right: 0.25rem;
}

.imagem-grupo .descricao .descricao-conteudo{
  display: inline;
  color: var(--cinza-escuro);
}

.imagem-grupo .descricao .descricao-conteudo::before{
  content: "-";
}